<!DOCTYPE html>
<html lang="en">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Tution Service Portal</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="css/home1.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/courses/bootstrap.min.css">
<link href="css/courses/fontawesome-all.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="css/courses/courses_styles.css">
<link rel="stylesheet" type="text/css" href="css/courses/courses_responsive.css">


</head>

<body id="page-top">
<div class="super_container">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">Tution Service Portal</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/mainpage">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/courses1">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/liveStream">Live stream</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/discussions">Discussion Forum</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/mainpage">About Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!-- Home -->

  <div class="home">
    <div class="home_background_container prlx_parent">
      <div class="home_background prlx" style="background-image:url(images1/course_img1/courses_background.jpg)"></div>
    </div>
    <div class="home_content">
      <h1>Courses</h1>
    </div>
  </div>

  <!-- Popular -->

  <div class="popular page_section">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="section_title text-center">
            <h1>Popular Courses</h1>
          </div>
        </div>
      </div>

      <div class="row course_boxes">

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/botany.jpg" alt="https://unsplash.com/@kellybrito">
            <div class="card-body text-center">
              <div class="card-title">A complete guide to fundamentals of botany</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
            <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/chemistry.jpg" alt="https://unsplash.com/@cikstefan">
            <div class="card-body text-center">
              <div class="card-title">Fundamentals of physical chemistry</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
             <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/commerce.jpg" alt="https://unsplash.com/@dsmacinnes">
            <div class="card-body text-center">
              <div class="card-title">Commerce - An overall understanding</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
             <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/cse.jpg" alt="https://unsplash.com/@kellitungay">
            <div class="card-body text-center">
              <div class="card-title">A complete guide to computer</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
             <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/english.jpg" alt="https://unsplash.com/@claybanks1989">
            <div class="card-body text-center">
              <div class="card-title">Advanced grammar</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
             <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/history.jpg" alt="https://unsplash.com/@element5digital">
            <div class="card-body text-center">
              <div class="card-title">History - Era of civilizations</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
             <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/zoology.jpg" alt="https://unsplash.com/@gaellemm">
            <div class="card-body text-center">
              <div class="card-title">A complete guide to zoology</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
             <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/physics.jpg" alt="https://unsplash.com/@juanmramosjr">
            <div class="card-body text-center">
              <div class="card-title">Beginners guide to Physics</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
             <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

        <!-- Popular Course Item -->
        <div class="col-lg-4 course_box">
          <div class="card">
            <img class="card-img-top" src="images1/course_img1/maths.jpg" alt="https://unsplash.com/@kimberlyfarmer">
            <div class="card-body text-center">
              <div class="card-title">Advanced Maths</div>
              <div class="card-text">Adobe Guide, Layes, Smart Objects etc...</div>
            </div>
             <div class="price_box d-flex flex-row align-items-center">

              <div class="course_author_name"><a href="/course-details1">Course Details</a></div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



</div>
